*{
    margin: 0px;
    padding: 0px;
    box-sizing: content content-box;
}
.container  .card{
    height:300px;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: flex;
    
 
}
.container{
    display: flex;
    gap: 30px;
    background-color: aquamarine;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;

}
.card{
    /* gap:30px ; */
    justify-items: center;
    align-items: center;
}
.container1{
    display: flex;
    height:100vh ;
    background-image: url(./Screenshot\ \(4\).png);
    gap: 10px; ;
    align-items: center;
    justify-content:center ;
}
 .car{
    display:flex ;
    height:300px ;
    background-color: beige;

    align-items:center ;
    justify-content:center ;

}
.car1{
    height: 100px;
    background-color: beige;
}
.car  .car1{
    background-color: beige;
}
.container2{
    display: flex;
    height:100vh ;
    background-color:red ;
    gap: 10px; ;
    align-items: center;
    justify-content:center ;
}
.me{
    display: flex;
    height: 300px; 
    background-color: beige;
    align-items: center;
    justify-content: center;
}
.me1{
    height: 200px; 
    background-color: beige;
    align-items: center;
    justify-content: center;
}
.me2{
    height: 100px;
    background-color: beige;
    align-items: center;
    justify-content: center;
}
.container3{
    display: flex;
    height: 100vh;
    background-color: blue;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.him{
    height: 300px;
    background-color: beige;
    align-items: center;
    justify-content: center;

}
.her{
    height:100px ;
    background-color: beige;
    align-items: center;
    justify-content: center;
}
.container4{
    display: flex;
    height: 100vh;
    background-color:purple;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.he{
    height: 100px;
    background-color: beige;
    align-items: center;
    justify-content: center;

}
.she{
    height: 300px;
    background-color: beige;
    align-items: center;
    justify-content: center;
 
}
.container5{
    display: flex;
    height: 100vh;
    background-color:green;
    gap: 10px;
    align-items: center;
    justify-content: center;

}
.T{
    height: 300px;
    width: 300px;
    background-color: beige;
    border-radius: 50%;


}
.H{
    display: flex;
    height: 80%;
    width: 80%;
    background-color: brown;
    border-radius: 50%;
    background-image: url("./Screenshot\ \(4\).png");
    align-items: center;
    justify-content: center;
    margin-left: 31px;
    margin-bottom: 100px;
    margin-top: 10px;
   
    
    
}
.I{
    height: 60%;
    width: 60%;
    background-color: crimson;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
    margin-right: 40px;

}

















