div{
    background-color: black;
    color: antiquewhite;
    font-size: 40px;
    font-weight: 500;
    font-family: Georgia;
}
.section1{
    background-color: black;
}
.section6{color: beige;

}
.aside{
    text-align: right;
}
